@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */
    --navy-50: #ecf2ff;
    --navy-200: #cac9ff;
    --navy-950: #303b59;
    --blue-50: #f3f4fd;
    --blue-800: #1125d6;
    --yellow-50: #fffbf4;
    --yellow-400: #ffb21e;
    --red-50: #fff6f6;
    --red-400: #ff5555;
    --green-50: #f2fcf9;
    --green-500: #00bb8f;

    /* Gradient */
    --gradient-1: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --gradient-2: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

    /* Spacing */
    --spacing-0: 0;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-1000: 5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    min-height: 100vh;
}

.res-score {
    line-height: 1;
    font-weight: 800;
    font-size: 3.5rem;
}

.res-rating, .title, .detail, .btn-text {
    line-height: 1.3;
    font-weight: 700;
}

.text-sm {
    line-height: 1.3;
    font-weight: 500;
}

.res-rating {
    font-size: 1.5rem;
}

.title, .btn-text {
    font-size: 1.125rem;
}

.detail, .text-sm {
    font-size: 1rem;
}

.result {
    background-image: var(--gradient-1);
    color: white;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    text-align: center;
    align-items: center;
    padding: 2.8rem 3.375rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.res-num {
    background-image: var(--gradient-2);
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.res-num p {
    color: var(--navy-200)
}

.res-desc {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.res-desc p {
    color: var(--navy-200);
}

.summary {
    color: var(--navy-950);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    padding: var(--spacing-400);
}

.stats {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.summary-item {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
}

.icon {
    /* width: 20px; */
    height: 20px;
}

.summary-text {
    display: flex;
    gap: var(--spacing-200);
    align-items: center;
}

.btn-primary {
    border: none;
    background-color: var(--navy-950);
    color: white;
    height: 3.5rem;
    border-radius: 8rem;
}

.btn-primary:hover {
    background-image: var(--gradient-1);
}

.btn-primary a {
    text-decoration: none;
    color: white;
}

.reaction {
    color: var(--red-400);
    background-color:  var(--red-50);
}

.memory {
    color: var(--yellow-400);
    background-color: var(--yellow-50);
}

.verbal {
    color: var(--green-500);
    background-color: var(--green-50);
}

.visual {
    color: var(--blue-800);
    background-color: var(--blue-50);
}

.score {
    color: var(--navy-950);
}

.total {
    opacity: 50%;
}

@media only screen and (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--blue-50);
    }

    main {
        width: 80%;
        display: flex;
        background-color: white;
        box-shadow: 0 30px 60px rgb(61, 108, 236, 0.15);
        border-radius: 2rem;
        align-items: center;
        justify-content: center;
    }

    .result {
        width: 50%;
        border-radius: 2rem;
        gap: var(--spacing-400);
        /* padding: 2.8rem 4.3rem; */
    }

    .res-desc {
        gap: var(--spacing-200);
    }

    .summary {
        width: 50%;
        gap: var(--spacing-400);
    }

    .title {
        font-size: 1.5rem;
    }

    .res-score {
        font-size: 4.5rem;
    }

    .res-rating {
        font-size: 2rem;
    }

    .detail, .text-sm {
        font-size: 1.125rem;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    main {
        width: 45%;
    }

    .result {
        height: 512px;
        justify-content: center;
    }
    
}