@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #1c232b;
    --grey: #6c7289;
    --cream: #f2eae2;
    --green-500: #3d8168;
    --green-700: #1a4032;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}