@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Press Start 2P", system-ui;
    font-size: 1rem;
    line-height: 2;
    height: 100%;
    background-color: #1f004b;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1 {
    width: 55%;
    text-align: center;
    color: #ab17e6;
    text-shadow:
        0 0 10px #9201cb,
        0 0 15px #9201cb;
}

a {
    text-decoration: none;
    color: #54efea;
}

li {
    color: #ec00f0;
}

.item {
    position: relative;
    display: block;
    color: #51ccdc;
}

.item:hover {
    cursor: pointer;
    background-color: rgb(236, 0, 240, 0.4);
}
