$navy-950: #0a0c1c;
$blue-950: #1b1937;
$purple-500: #ab5cdb;

$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-800: 4rem;
$spacing-900: 4.5rem;
$spacing-1000: 5rem;

$breakpoint-tablet: 48rem;
$breakpoint-laptop: 64rem;