$gray-600: #717fa6;

$purple-500: #766cf1;

$blue-50: #f7f9ff;
$blue-100: #e0e8ff;
$blue-150: #d6e1ff;
$blue-700: #382ae1;
$blue-950: #1f2e55;

$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-600: 3rem;